* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

section {
    margin-bottom: 3rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: #121212;
    color: #e9e9e9;
    margin-bottom: 3rem;
}

.hero-img {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.hero ul {
    list-style: none;
    display: flex;
}

.hero li {
    margin-right: 0.8rem;
}

.hero-text h1,
.hero-text p {
    margin-bottom: 0.9rem;
}

a {
    color: rgb(0, 183, 255);
    transition: 0.1s ease;
}

a:hover {
    color: orangered;
}

.techstack {
    border-bottom: 2px solid #918f8f;
}

.techstack h2 {
    text-align: center;
    color: #333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.card {
    width: 10rem;
    height: 10rem;
    margin: 0.8rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.card img {
    width: 80%;
    margin-bottom: 0.5rem;
}

.card h3 {
    color: #333;
}

.projects h2 {
    color: #333;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.project {
    width: 40rem;
    height: 15rem;
    margin: 0.8rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.project-link {
    background: #121212;
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.project-description {
    flex: 1;
    display: grid;
    place-content: center;
    padding: 0.5rem;
}

h2 {
    margin-bottom: 2rem;
    position: relative;
}

h2::before {
    content: "";
    width: 30%;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: -1rem;
}

small {
    font-size: 8px;
    margin-top: 1rem;
    color: orangered;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #fefefe;
}

@media screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero-img {
        margin-bottom: 1rem;
    }

    .hero-text {
        text-align: center;
    }

    .container {
        width: auto;
    }

    .projects {
        display: grid;
        place-content: center;
    }

    .projects-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .project {
        width: auto;
        flex-direction: column;
    }
}
